
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Virtue Vice</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <span class="points-balance" style="color: white; margin-right: 10px;">Point Balance: 123</span>
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="container main-view" style="padding-top: 65px;">
  <div class="row">

    <div class="col-md-4">
      <div class="row">

        <div class="col-md-11" ng-controller="ActivityCtrl" id="activities_section">
          <h2>Activities</h2>
          <table class="table-bordered table-striped">
            <tr ng-repeat="activity in activities">
              <td>
                <b>{{activity.verb}} {{activity.relationship}} {{activity.amount}} {{activity.subject}} {{activity.interval}} </b>
                <a class="btn btn-default" href="#" role="button" ng-click="deleteActivity(activity.id)">-</a>
              </td>
            </tr>
          </table>
          <p><a class="btn btn-default" href="#" role="button" ng-click="expandActivityForm()">+</a></p>
          <form id="newActivityForm">
            <input type="text" id="verb" placeholder="Verb" ng-model="newActivityForm.verb">
            <select  id="relationship" ng-options="relationship_option for relationship_option in relationship_options" ng-model="newActivityForm.relationship">
            </select>
            <input type="text" id="amount" placeholder="amount" ng-model="newActivityForm.amount">
            <input type="text" placeholder="subject" id="subject" ng-model="newActivityForm.subject">
            <select id="interval" ng-options="interval_option for interval_option in interval_options" ng-model="newActivityForm.interval"> <br />
            </select>
            <div>
              <a class="btn btn-default btn-xs" href="#" role="button" ng-click="collapseActivityForm()">Cancel</a>
              <a class="btn btn-primary btn-xs" href="#" role="button" ng-click="submitActivityForm()">Submit</a>
            </div>
          </form>
        </div><!-- closing top box on first column -->

        <div class="col-md-11" ng-controller="TaskCtrl" id="tasks_section">
          <h2>Tasks</h2>
          <table class="table-bordered table-striped">
            <tr ng-repeat="task in tasks">
              <td>
                <b>{{task.name}}</b>
                <a class="btn btn-default" href="#" role="button" ng-click="deleteTask(task.id)">-</a>
                <br />
                Points: {{task.points}} <br />
                Due Date: {{task.due_date}}
              </td>
            </tr>
          </table>
          <p><a class="btn btn-default" href="#" role="button" ng-click="expandTaskForm()">+</a></p>
          <div id="newTaskForm">
            Name: <input type="text" id="name" ng-model="newTaskForm.name"> <br />
            Due Date: <input type="text" id="duedate" ng-model="newTaskForm.duedate" placeholder="COMING SOON" disabled="disabled"> <br />
            Points: <input type="text" id="points" ng-model="newTaskForm.points"> <br />
            <div>
              <a class="btn btn-default btn-xs" href="#" role="button" ng-click="collapseTaskForm()">Cancel</a>
              <a class="btn btn-primary btn-xs" href="#" role="button" ng-click="submitTaskForm()">Submit</a>
            </div>
          </div>
        </div><!-- closing bottom box on first column -->

      </div>
    </div> <!-- closing first column -->

    <div class="col-md-4">
      <div class="row">

        <div class="col-md-11">
          <h2>Trends</h2>
          <p><a class="btn btn-default" href="#" role="button">+</a></p> COMING SOON
        </div>

        <div class="col-md-11" ng-controller="CardCtrl" id="cards_section">
          <h2>Cards</h2>
          <table class="table-bordered table-striped">
            <tr ng-repeat="card in cards">
              <td>
                <b>{{card.description}}</b>
                <a class="btn btn-default" href="#" role="button" ng-click="deleteCard(card.id)">-</a>
                <br />
                {{card.value}} - {{card.category}}
              </td>
            </tr>
          </table>
          <p><a class="btn btn-default" href="#" role="button" ng-click="expandCardForm()">+</a></p>
          <div id="newCardForm">
            Description: <input type="text" id="name" ng-model="newCardForm.description"> <br />
            Value: <input type="text" id="duedate" ng-model="newCardForm.value"> <br />
            Category: <input type="text" id="points" ng-model="newCardForm.category"> <br />
            Recipient_id: <input type="text" id="points" ng-model="newCardForm.recipient_id"> <br />

            Author_id: <input type="text" id="points" ng-model="newCardForm.author_id"> <br />

            <div>
              <a class="btn btn-default btn-xs" href="#" role="button" ng-click="collapseCardForm()">Cancel</a>
              <a class="btn btn-primary btn-xs" href="#" role="button" ng-click="submitCardForm()">Submit</a>
            </div>

          </div>
        </div>
      </div>
    </div> <!-- closing second column  -->

    <div class="col-md-3">
      <div class="row">

        <div class="col-md-11">
          <h2>Bounties</h2>
          <p><a class="btn btn-default" href="#" role="button">+</a></p> COMING SOON
        </div>

        <div class="col-md-11" id="vices_section">
          <h2>Vices</h2>
          <p><a class="btn btn-default" href="#" role="button">+</a></p> COMING SOON
        </div>
      </div>
    </div><!-- closing third column -->

  </div> <!-- /row -->
</div> <!-- /container -->


<h1>SCRAPS BELOW HERE</h1>

<div ng-controller="DashboardCtrl">
site/index goes here!

<a href="#taco">go to taco </a>
<a href="#hotdog">go to hotdog </a>

<div ng-view></div>

</div>
